/* TODO: Make responsive */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500;700&display=swap');

:root {
    font-size: calc((1.5vh + 1.5vw) / 2);
    --blob-width: 65vw;
}

/* Make blobs the full width on small screens */
@media screen and (max-width: 600px) {
    :root {
        --blob-width: 100%;
        --color-gobble: #c63634;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide .large-screens-only on small screens */
@media screen and (max-width: 600px) {
    .large-screens-only {
        display: none;
    }
}

/* Hide .small-screens-only on large screens */
@media screen and (min-width: 600px) {
    .small-screens-only {
        display: none;
    }
}

/* Use .small-screens-only when it is exactly 600px */
@media screen and (min-width: 600px) and (max-width: 600px) {
    .small-screens-only {
        display: block;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
}

#hero-svg {
    /* width: 100%; */
    height: 100vh;
    width: 100%;
}

#hero-svg svg {
    width: 100%;
    height: auto;
    /* background-color: bisque; */
}

.hero-svg-upper {
    position: absolute;
    top: 1.5rem;
    left: 0;
}

.hero-svg-lower {
    position: relative;
    top: 100%;
    transform: translateY(calc(-50% - 4rem));
    z-index: 2;
}


/* Hide on screens where they would overlap */
@media screen and (max-height: 356px) {
    .hero-svg-lower {
        display: none;
    }
}

/* Hide on screens where they would overlap */
@media screen and (max-height: 5rem) {
    .hero-svg-lower {
        display: none;
    }
}


#library-browser {
    animation: bounce 2s infinite alternate ease-in-out;
}

/* When the user prefers reduced animation */
@media (prefers-reduced-motion: reduce) {
    #library-browser {
        animation: none;
    }
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 60vw;
    margin: 2rem;
    z-index: 100;
}

/* Full width on small screens */
@media screen and (max-width: 1024px) {
    .hero-text {
        width: 100vw;
        min-width: unset;
        margin: 0;
        padding: 3rem;
        left: unset;
        transform: translateY(-50%);
    }
}

/* @media (max-width: 768px) {
    .hero-text {
        width: 100%;
    }
    body {
        width: 100%;
    }
} */

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.2em;
}

h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.2em;
}

.text-blob {
    width: var(--blob-width);
    height: 70vh;
    position: absolute;
    top: 100vh;
    z-index: 1;
}

.text-blob.blob-right {
    right: 0;
}

.text-blob svg {
    width: 100%;
    height: 100%;
}

.blob-right svg {
    float: right;
}

.text-blob-text {
    font-size: 0.8rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 100%;
    transform: translateY(-100%);

    padding-top: 1rem;
}

@media screen and (max-width: 600px) {
    .text-blob {
        width: 100vw;
        height: unset;
        top: 100vh;
    }

    .text-blob-text {
        transform: translateY(-2px);
        background-color: var(--color-gobble);
        width: 100%;
        padding: 0 0.6rem 17rem 0.6rem;
    }
}

/* Make the text larger on smaller screens */
@media screen and (max-width: 600px) {
    .text-blob-text {
        font-size: 1.2rem;
    }
}

.blob-right .text-blob-text {
    align-items: flex-end;
    float: right;
}

.text-blob-text h2 {
    margin-top: 4rem;

    color: #fff;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    line-height: 1.1em;
    /* or 108% */
}

.text-blob-text * {
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.blob-right .text-blob-text h2 {
    text-align: right;
}

.text-blob-text p {
    color: #fff;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: -0.02em;
}

.blob-right .text-blob-text p {
    text-align: right;
}

.editor-graphic {
    height: 55vh;
    max-width: 100vw;
    position: absolute;
    top: 130vh;
    left: 24vw;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.blink {
    animation: blink 1s step-end infinite;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1.1rem);
    }
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}